.newsletter-container {
  max-width: 67rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 50px;
  margin-bottom: 10em;
  background-color: #d8679e0b;
}

.newsletter-container form {
  margin-top: -25px;
  padding: 15px 5px;
}

.input-email-container {
  position: relative;
  margin-bottom: 25px;
}

.input-email-container input {
  border: none;
  border: 1px solid #a1a1a1;
  border-radius: 15x;
  height: 100%;
  outline: none;
  padding: 25px 0 10px 20px;
  font-size: 1em;
}

.email-label {
  position: absolute;
  left: 20px;
  top: 15px;
  transition: all 0.25s;
}

.input-email-container input:focus ~ label,
.input-email-container input:valid ~ label {
  font-size: 0.7em;
  font-weight: bold;
  top: 4px;
}

.conditions-container {
  padding: 20px 0;
  margin-bottom: 15px;
}

.conditions-container label a {
  color: #d8679e;
}

.newsletter-container form button {
  display: block;
  padding: 17px 0;
}

.newsletter-container form button,
.newsletter-container, 
.input-email-container input {
  width: 100%;
}

.newsletter-container, 
.newsletter-container form button {
  margin: 0 auto;
}
