.customers-carousel {
  padding: 30px;
  width: 100%;
  max-width: 70rem;
}

.customers-carousel img {
  display: block;
}

.customers-carousel,
.customers-carousel img {
  margin: 0 auto;
}
