.description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 0;
  margin-top: -30px;
}

.description-card {
  max-width: 15rem;
}

.description-content,
.description-card img  {
  max-width: 100%;
} 

.description-card h5 {
  font-size: 1.3em;
  margin-bottom: -5px;
}

.description-card h5,
.description-card p {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .description-content {
    flex-direction: row;
    gap: 6em;
  }
}

@media screen and (min-width: 1200px) {
  .description-content {
    gap: 10em;
  }

  .description-card {
    max-width: 17rem;
  }

  .description-card h5 {
    font-size: 1.5em;
  }
}
