nav {
  max-width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  background-color: #415681;
  padding: 0 45px;
  z-index: 2;
  -webkit-box-shadow: 3px 3px 10px 3px #06060638;
  -moz-box-shadow: 3px 3px 10px 3px #06060638;
  box-shadow: 3px 3px 10px 3px #06060638;
}

.nav-container {
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
}

.nav-links {
  display: none;
  justify-content: flex-end;
  gap: 20px;
  font-size: 1em;
}

.nav-items {
  gap: 25px;
}

.nav-container,
.nav-link {
  width: 100%;
}

.nav-container,
.nav-items {
  display: flex;
}

.nav-container,
.nav-link,
.nav-items {
  align-items: center;
}

.nav-items li a {
  text-decoration: none;
  color: #d3d2d2;
}

nav,
.nav-items li a:hover {
  color: white;
}

.nav-login {
  margin-left: 10px;
  outline: 2px solid white;
  border-radius: 40px;
  padding: 5px 25px;
  background-color: transparent;
  font-size: 0.9em;
}

.nav-items,
.nav-login {
  font-weight: bold;
}

.nav-items li a,
.nav-login {
  text-transform: uppercase;
  transition: all 0.25s;
}

.nav-login:hover {
  background-color: white;
  color: #415681;
}

.nav-container h1,
.nav-login {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .nav-links {
    display: flex;
  }

  .hamburger-react {
    display: none;
  }
}
