nav {
    max-width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #cba1f2;
    padding: 0 45px;
    z-index: 2;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.nav-links {
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    font-size: 1em;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-login {
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px 25px;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-container h1,
.nav-login  {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .nav-links {
        display: flex;
    }

    .hamburger-react {
        display: none;
    }
}
