nav {
    max-width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #415681;
    color: white;
    padding: 0 45px;
    z-index: 2;
    -webkit-box-shadow: 3px 3px 10px 3px #06060638;
    -moz-box-shadow: 3px 3px 10px 3px #06060638;
    box-shadow: 3px 3px 10px 3px #06060638;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.nav-links {
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    font-size: 1em;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.nav-items li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s;
    color: #d3d2d2;
}

.nav-items li a:hover {
    color: white;
}

.nav-login {
    margin-left: 10px;
    outline: 2px solid white;
    border-radius: 40px;
    padding: 5px 25px;
    font-weight: bold;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: all 0.25s;
}

.nav-login:hover {
    background-color: white;
    color: #415681;
}

.nav-container h1,
.nav-login  {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .nav-links {
        display: flex;
    }

    .hamburger-react {
        display: none;
    }
}
