.features-container {
  background-color: #d8679e0b;
  padding: 3em 0 9em;
}

.features-container > p {
  text-align: center;
  max-width: 90%;
  font-size: 1.15em;
  margin: -50px auto 0;
}

.features-content > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  gap: 10px;
  padding-inline-start: 0;
  padding: 20px 0;
  font-size: 1.4em;
}

.features-content > ul li {
  font-weight: bold;
  cursor: pointer;
}

.features-content > ul li p span:first-child {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.active {
  color: #d8679e;
}

@media screen and (min-width: 1024px) {
  .features-container > p {
    max-width: 45rem;
  }

  .features-content > ul {
    flex-direction: row;
    gap: 0;
  }

  .features-content > ul li {
    border-bottom: 2px solid black;
    padding: 0 20px;
  }

  .active {
    border-bottom-color: #d8679e !important;
  }
}
