footer {
  background-color: #415681;
  height: 100%;
  padding: 0 20px;
  color: white;
}

.footer-wave {
  margin-bottom: -1em;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

footer,
.footer-info-item {
  width: 100%;
}

.footer-info-item h6 {
  font-size: 1.5em;
  margin-bottom: -5px;
}

.footer-info-content {
  width: 85%;
}

.footer-info-content ul {
  padding-inline-start: 1.3em;
}

.important-links {
  list-style-type: square;
}

.footer-info-content ul li {
  margin-bottom: 5px;
}

.contact li span {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

footer hr {
  height: 1px;
  border: none;
  background-color: #ffffff46;
}

footer > p {
  text-align: center;
  margin-bottom: 0;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 1em 5em;
  }

  .footer-info-container {
    flex-direction: row;
  }

  .footer-wave {
    margin-bottom: -1.5em;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 2em 15em;
  }

  .footer-wave {
    margin-bottom: -3em;
  }
}
