.features-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  gap: 1.5em;
}

.features-card img {
  width: 100%;
  display: block;
  max-width: 30rem;
}

.features-card, 
.features-card img {
  margin: 0 auto;
}

.features-card-content {
  padding: 0 10px;
  max-width: 33rem;
}

.features-card-content h5 {
  font-size: 1.6em;
  margin: 5px 0 -5px;
}

.features-card-content ul {
  list-style-type: square;
  padding-inline-start: 1.3em;
}

.features-card-content ul li {
  color: #d8679e;
  margin-bottom: 10px;
}

.features-card-content ul li span {
  color: #415681;
}

.features-card-content button {
  margin-top: 12px;
}

@media screen and (min-width: 1024px) {
  .features-card {
    flex-direction: row;
    gap: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .features-card {
    gap: 3.3em;
  }
}
