*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  color: #415681;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  margin-top: 4.5em;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  background-color: #415681;
  outline: 2px solid #415681;
  padding: 12px 35px;
  border-radius: 40px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s;
}

button,
.btn {
  border: none;
}

a,
.btn {
  color: white;
}

.btn:hover {
  background-color: white;
}

body,
.btn:hover {
  color: #415681;
}
